.devotionals-header {
    background: url(/images/commentary-header.svg);
    height: 40vh;
    width: 100%;
}

.dheader-sub {
    background: url(/images/cub-head.svg);
    height: 75vh;
    width: 100%;
}

.devotionals-header-text {
    height: 60vh;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.dheader-sub-text {
    height: 60vh;
    text-align: left;
    position: absolute;
    top: 52%;
    left: 62%;
    transform: translateX(-50%) translateY(-50%);
}

.devotionals-header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

.devotionals-header h3 {
    font-size: 30px;
}

.dheader-img {
    padding-left: 400px;
    padding-top: 130px;
}

.dhead-img {
    border-radius: 25px;
}

.dmain {
    height: 100vh;
}

.drow-1 {
    padding: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 400px;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.card-container {
    padding: 2px 16px;
    text-align: center;
    font-size: 30px;
}

.card-img {
    height: 400px;
    width: 400px;
}

@media (max-width: 1920px) {
    .dheader-img {
        padding-left: 400px;
        padding-top: 130px;
    }

    .dheader-sub-text {
        height: 60vh;
        text-align: left;
        position: absolute;
        top: 52%;
        left: 62%;
        transform: translateX(-50%) translateY(-50%);
    }
}

@media screen and (max-width: 1825px) {
    .dheader-img {
        padding-top: 150px;
        padding-left: 150px;
    }

    .dheader-sub-text {
        padding-right: 25px;
    }

    .dheader-sub-text p {
        height: 500px;
    }

    .dhead-img {
        height: 400px;
        width: 380px;
    }
}

@media screen and (max-width: 1300px) {
    .dheader-img {
        padding-top: 150px;
        padding-left: 150px;
    }

    .dheader-sub-text {
        padding-right: 25px;
    }

    .dheader-sub-text p {
        height: 500px;
    }

    .dhead-img {
        height: 400px;
        width: 380px;
    }
}

.dmain-sub {
    background-color: #faf8f7;
}

.dmain-sub:after {
    content: "";
    display: table;
    clear: both;
}

.left, .right {
    width: 15%;
}

.middle {
    width: 70%;
}

.ccolumn-1 {
    height: 75vh;
    float: left;
}

.ccolumn-2 {
    height: 75vh;
    float: left;
    padding: 50px;
}

.ccolumn-3 {
    height: 75vh;
    float: left;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
  
.active, .accordion:hover {
    background-color: #ccc;
}
  
.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2212";
}
  
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Video Player Start */
/*----------- Big Play Button -----------*/

#my-video .vjs-big-play-button {
    border: none;
    width: 2em;
    height: 2em;
    line-height: 2em;
    top: 48%;
    margin-left: -0.5em;
    color: #ccc;
    background: #262626;
    font-size: 2.8em;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
  }
  
  #my-video:hover .vjs-big-play-button {
    background: #333;
  }
  
  #my-video .vjs-big-play-button:hover {
    background: #1a1a1a;
    color: #b3b3b3;
  }
  
  /*----------------------------------------*/
  
  /*-------------- Control Bar -------------*/
  
  #my-video .vjs-control-bar {
    background: #262626;
    color: #ccc;
    width: 64%;
    left: 18%;
    bottom: 4%;
    font-size: 1.3em;
  }
  
  #my-video .vjs-play-progress,
  #my-video .vjs-volume-level {
    background: #ccc;
  }
  
  /*----------- Play/Pause Toggle ----------*/
  
  #my-video .vjs-play-control {
    right: 102%;
    background: #262626;
    border-radius: 10%;
    position: absolute;
  }
  
  /*----------- Fullscreen Toggle ----------*/
  
  #my-video .vjs-fullscreen-control {
    left: 102%;
    background: #262626;
    position: absolute;
    border-radius: 10%;
  }
  
  /*---------- Add/Remove Button ----------*/
  
  #my-video .vjs-picture-in-picture-control {
    display: none;
  }
  
  #my-video .vjs-current-time {
    display: block;
  }
  
  /*----------- Volume Vertical ------------*/
  
  #my-video .vjs-volume-vertical {
    background: #262626;
    font-size: 1.1em;
  }
  /* Video Player End */