.scripture-search {
  border-style: solid;
  border-color: black;
  width: 100%;
  height: 6000px;
  position: relative;
  overflow: auto;
}

.scripture-search > h1 {
  font-family: "Play", sans-serif;
  text-align: center;
  font-size: 80px;
  padding: 20px;
  margin: 0px;
}

.scripture-search > h3 {
  font-family: "Play", sans-serif;
  text-align: center;
  font-size: 50px;
  padding: 0px;
  margin: 0px;
}

.scripture-search > h4 {
  font-family: "Play", sans-serif;
  text-align: center;
  font-size: 50px;
  margin: 0;
  padding: 0;
}

#bbl-division {
  width: 50%;
  height: 20px;
}

#search-divison {
  width: 50%;
  height: 20px;
}

form {
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  margin-right: 200px;
}

input {
  padding: 4px 10px;
  border: 0;
  font-size: 16px;
}

.search {
  width: 320px;
}

.submit {
  width: 70px;
  background-color: #1c87c9;
}

/* Dropdown Button */
.dropbtn {
  background-color: #ff6700;
  color: white;
  padding: 16px;
  font-size: 20px;
  font-family: "Russo One", sans-serif;
  border: none;
  cursor: pointer;
  width: 300px;
  border-radius: 25px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #ff8533;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  top: -1%;
  left: 25%;
}

#OT-column,
#NT-column,
#S-column {
  display: inline-block;
  zoom: 1;
  vertical-align: top;
  font-size: 18px;
}

#OT-column {
  min-width: auto;
  max-width: 200px;
  height: 300px;
}

#OT-column-scroll {
  min-width: auto;
  max-width: 200px;
  height: 300px;
  overflow: auto;
}

#NT-column {
  min-width: auto;
  max-width: 200px;
  height: 300px;
}

#NT-column-scroll {
  min-width: auto;
  max-width: 200px;
  height: 300px;
  overflow: auto;
}

#S-column {
  min-width: auto;
  max-width: 300px;
  height: 300px;
}

#S-column-scroll {
  min-width: auto;
  max-width: 300px;
  height: 300px;
  overflow: auto;
}

#myDropdown {
  margin: 0 auto;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  margin: 0 auto;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: 350px;
  width: 630px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
