@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Poppins", sans-serif;
}

.container {
  min-height: 100vh;
  min-width: 100%;
  overflow-x: hidden;
  background-image: url(images/blurry-gradient-haikei.svg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  transform-style: preserve-3d;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 3rem;
}

.menu {
  max-width: 72rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 4rem;
}

.logo span {
  font-weight: 300;
}

.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bar {
  width: 1.9rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: #393d48;
  transition: 0.5s;
  position: relative;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #393d48;
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

.main {
  position: relative;
  width: 100%;
  left: 0;
  z-index: 5;
  overflow: hidden;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
}

header {
  min-height: 100vh;
  width: 100%;
  background: url("bg.jpg") no-repeat top center / cover;
  position: relative;
}

.overlay {
  position: absolute;
  min-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(248, 244, 227, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  max-width: 35rem;
  text-align: center;
  color: #fff;
  padding: 0 2rem;
}

.title {
  font-size: 2.7rem;
}

.btn {
  margin-top: 1rem;
  padding: 0.6rem 1.8rem;
  background-color: #1179e7;
  border: none;
  border-radius: 25px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.container.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.container.active .bar:before {
  transform: translateY(0) rotate(45deg);
}

.container.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

.container.active .main {
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}

@keyframes main-animation {
  from {
    transform: translate(0);
  }

  to {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
}

.links {
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

.links a {
  text-decoration: none;
  color: #393d48;
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(10px);
  animation: hide 0.5s forwards ease;
}

.links a:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: black;
}

.container.active .links a {
  animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: 0.5s;
  background-color: white;
}

.shadow.one {
  z-index: -1;
  opacity: 0.15;
}

.shadow.two {
  z-index: -2;
  opacity: 0.1;
}

.container.active .shadow.one {
  animation: shadow-one 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}

@keyframes shadow-one {
  0% {
    transform: translate(0);
  }

  5% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
  }
}

.container.active .shadow.two {
  animation: shadow-two 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
}

@keyframes shadow-two {
  0% {
    transform: translate(0);
  }

  20% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
  }
}

.container.active .main:hover + .shadow.one {
  transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}

.container.active .main:hover {
  transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
}

.section-1 {
  width: 100%;
  height: 100vh;
}

.inner-section {
  min-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  display: flex;
  background-image: url(images/blurry-gradient-haikei.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.column-1 {
  display: block;
  float: left;
  width: 50%;
  height: 100vh;
  background: transparent;
}

.column-2 {
  display: block;
  float: right;
  width: 50%;
  height: 100vh;
  background: transparent;
}

.banner-svg {
  display: inline-block;
  width: 1025px;
  height: 905px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.banner-svg img {
  width: 890px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.SA-title > h1 {
  font-family: Montserrat, sans-serif;
  color: #393d48;
  font-size: 100px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .left-div,
  .right-div {
    max-width: 100%;
  }
}

.SA-title {
  background-color: pink;
  height: 33.3%;
  margin: 0;
  padding: 0;
}

.SA-search {
  background-color: green;
  height: 33.3%;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  border: 1px solid blue;
}

.SA-dropdown {
  background-color: yellow;
  height: 33.3%;
}

.SA-search > .form-select {
  width: 320px;
}

form {
  margin: 0 auto;
  border: 1px solid red;
  width: 50%;
}

input {
  padding: 4px 10px;
  border: 0;
  font-size: 16px;
}

.search {
  width: 300px;
  margin: 0;
}

.submit {
  width: 70px;
  background-color: #1c87c9;
}

/* Search bar styling */
.search-area {
  background: #fff;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 100%;
  margin-top: 1rem;
}

@media only screen and (min-width: 500px) {
  .search-area {
    width: auto;
  }
}

@media only screen and (min-width: 500px) {
  .form-select {
    width: auto;
  }
}

.search-area button,
.search-area input {
  font-size: 0.875rem;
  height: 3em;
  line-height: 3em;
  border: 0;
  background: none;
}
.search-area button {
  text-align: center;
  padding: 0 0.5em 0 1em;
  cursor: pointer;
  width: 2.8rem;
}
.search-area input {
  width: calc(100% - 2.8rem);
  padding: 0 0.5em 0 0;
}

/* Dropdown Button */
.dropbtn {
  background-color: #ff6700;
  color: white;
  padding: 16px;
  font-size: 20px;
  font-family: "Russo One", sans-serif;
  border: none;
  cursor: pointer;
  width: 300px;
  border-radius: 25px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #ff8533;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  top: -1%;
  left: 25%;
}

.column {
  display: inline-block;
  zoom: 1;
  vertical-align: top;
  font-size: 18px;
  min-width: 200px;
  height: 300px;
}

.column-larger {
  display: inline-block;
  zoom: 1;
  vertical-align: top;
  font-size: 18px;
  min-width: 200px;
  height: 300px;
}

.column-scroll {
  max-width: 200px;
  height: 300px;
  overflow: auto;
}

.column-larger-scroll {
  max-width: 200px;
  height: 300px;
  overflow: auto;
}

#myDropdown {
  margin: 0 auto;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  margin: 0 auto;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: 350px;
  width: 630px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.scrollable {
  max-height: 500px;
  overflow: scroll;
  overflow-x: hidden;
}
