.cheader {
    background: url(/images/commentary-header.svg);
    height: 40vh;
    width: 100%;
}

.cheader-sub {
    background: url(/images/cub-head.svg);
    height: 75vh;
    width: 100%;
}

.cheader-text {
    height: 60vh;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.cheader-sub-text {
    height: 60vh;
    text-align: left;
    position: absolute;
    top: 52%;
    left: 62%;
    transform: translateX(-50%) translateY(-50%);
}

.cheader h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

.cheader h3 {
    font-size: 30px;
}

.cheader-img {
    padding-left: 400px;
    padding-top: 130px;
}

.chead-img {
    border-radius: 25px;
}

.cmain {
    height: 100vh;
}

.crow-1 {
    padding: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 400px;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.card-container {
    padding: 2px 16px;
    text-align: center;
    font-size: 30px;
}

.card-img {
    height: 400px;
    width: 400px;
}

@media (max-width: 1920px) {
    .cheader-img {
        padding-left: 400px;
        padding-top: 130px;
    }

    .cheader-sub-text {
        height: 60vh;
        text-align: left;
        position: absolute;
        top: 52%;
        left: 62%;
        transform: translateX(-50%) translateY(-50%);
    }
}

@media screen and (max-width: 1825px) {
    .cheader-img {
        padding-top: 150px;
        padding-left: 150px;
    }

    .cheader-sub-text {
        padding-right: 25px;
    }

    .cheader-sub-text p {
        height: 500px;
    }

    .chead-img {
        height: 400px;
        width: 380px;
    }
}

@media screen and (max-width: 1300px) {
    .cheader-img {
        padding-top: 150px;
        padding-left: 150px;
    }

    .cheader-sub-text {
        padding-right: 25px;
    }

    .cheader-sub-text p {
        height: 500px;
    }

    .chead-img {
        height: 400px;
        width: 380px;
    }
}

.cmain-sub {
    background-color: #faf8f7;
}

.cmain-sub:after {
    content: "";
    display: table;
    clear: both;
}

.left, .right {
    width: 15%;
}

.middle {
    width: 70%;
}

.ccolumn-1 {
    height: 75vh;
    float: left;
}

.ccolumn-2 {
    height: 75vh;
    float: left;
    padding: 50px;
}

.ccolumn-3 {
    height: 75vh;
    float: left;
}

a {
    text-decoration: none;
    color: #33383b;
}
  
.underline{
    position: relative;
}
  
.underline::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #33383b;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
  
@media (hover: hover) and (pointer: fine) {
    .underline:hover::before{
      left: 0;
      right: auto;
      width: 100%;
    }
}

#torrey-works {
    font-size: 22px;
    list-style-type: none;
    text-align: center;
}

.torrey-header {
    text-align: center;
    padding-right: 17.5%;
    padding-bottom: 10px;
}



