body {
    font-family: "Poppins", sans-serif;
}

/*verse number styling in search_bible.js*/
.verse_number {
    padding: .5em;
/*   ctrl + f/ cmd + f value.verse_start in search_bible.js to see class*/
}

/*verses display box*/
.CSS_thatWrapsDisplayChapterHere {
    background-color: pink;
    max-height: 10vh;
}

/*button style*/
.search_bible_button {
    border: .1em solid #44484d;
    border-radius: .2em;
    background-color: #44484d;
    font-family: "Poppins", sans-serif;
    color: whitesmoke;;
}

/*button on hover*/
.search_bible_button:hover {
    border: .12em solid #44484d;
    padding: .1em;
}

/*heading*/
.search_bible_header {
    background-color: #44484d;
    border-radius: .15em;
    color: whitesmoke;
}

/* Small devices (phones and pocket devices, 200 and up) */
@media screen and (min-width: 200px) {
    .CSS_thatWrapsDisplayChapterHere {
        background-color: ghostwhite;
        max-height: 50vh;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .CSS_thatWrapsDisplayChapterHere {
        background-color: whitesmoke;
        max-height: 50vh;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .CSS_thatWrapsDisplayChapterHere {
        background-color: floralwhite;
        max-height: 50vh;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    .CSS_thatWrapsDisplayChapterHere {
        background-color: antiquewhite;
        max-height: 50vh;
    }
}