.mog__section {
  max-height: 100vh;
  min-height: 75vh;
  grid-area: top__section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header .";
  background: linear-gradient(var(--overlay), var(--overlay));
  background-image: url(/images/thumbnails/sermons/spencer/mog-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wog__section {
  max-height: 100vh;
  min-height: 75vh;
  grid-area: top__section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header .";
  background: linear-gradient(var(--overlay), var(--overlay));
  background-image: url(/images/thumbnails/sermons/spencer/wog-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overwhelmed__section {
  max-height: 100vh;
  min-height: 75vh;
  grid-area: top__section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header .";
  background: linear-gradient(var(--overlay), var(--overlay));
  background-image: url(/images/thumbnails/sermons/spencer/overwhelmed.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.top__section {
  max-height: 100vh;
  min-height: 75vh;
  grid-area: top__section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header .";
  background: linear-gradient(var(--overlay), var(--overlay));
  background-image: url(/images/thumbnails/sermons/spencer/overwhelmed.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tg__section {
  max-height: 100vh;
  min-height: 75vh;
  grid-area: top__section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header .";
  background: linear-gradient(var(--overlay), var(--overlay));
  background-image: url(/images/thumbnails/sermons/spencer/tg-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.yp__section {
  max-height: 100vh;
  min-height: 75vh;
  grid-area: top__section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header .";
  background: linear-gradient(var(--overlay), var(--overlay));
  background-image: url(/images/thumbnails/sermons/spencer/yp-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ibg__section {
  max-height: 100vh;
  min-height: 75vh;
  grid-area: top__section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header .";
  background: linear-gradient(var(--overlay), var(--overlay));
  background-image: url(/images/thumbnails/sermons/spencer/ibg-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sitg__section {
  max-height: 100vh;
  min-height: 75vh;
  grid-area: top__section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header .";
  background: linear-gradient(var(--overlay), var(--overlay));
  background-image: url(/images/thumbnails/sermons/spencer/sitg-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tbsoccm__section {
  max-height: 100vh;
  min-height: 75vh;
  grid-area: top__section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header .";
  background: linear-gradient(var(--overlay), var(--overlay));
  background-image: url(/images/thumbnails/sermons/spencer/tbsoccm-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bhgmg__section {
  max-height: 100vh;
  min-height: 75vh;
  grid-area: top__section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header .";
  background: linear-gradient(var(--overlay), var(--overlay));
  background-image: url(/images/thumbnails/sermons/spencer/bhgmg-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.witccmtlt__section {
  max-height: 100vh;
  min-height: 75vh;
  grid-area: top__section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header .";
  background: linear-gradient(var(--overlay), var(--overlay));
  background-image: url(/images/thumbnails/sermons/spencer/witccmtlt-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ittbop__section {
  max-height: 100vh;
  min-height: 75vh;
  grid-area: top__section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header .";
  background: linear-gradient(var(--overlay), var(--overlay));
  background-image: url(/images/thumbnails/sermons/spencer/ittbop-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.p1__section {
  max-height: 100vh;
  min-height: 75vh;
  grid-area: top__section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header .";
  background: linear-gradient(var(--overlay), var(--overlay));
  background-image: url(/images/thumbnails/sermons/spencer/p1-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.p2__section {
  max-height: 100vh;
  min-height: 75vh;
  grid-area: top__section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header .";
  background: linear-gradient(var(--overlay), var(--overlay));
  background-image: url(/images/thumbnails/sermons/spencer/p2-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.p3__section {
  max-height: 100vh;
  min-height: 75vh;
  grid-area: top__section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header .";
  background: linear-gradient(var(--overlay), var(--overlay));
  background-image: url(/images/thumbnails/sermons/spencer/p3-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.p4__section {
  max-height: 100vh;
  min-height: 75vh;
  grid-area: top__section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header .";
  background: linear-gradient(var(--overlay), var(--overlay));
  background-image: url(/images/thumbnails/sermons/spencer/p4-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ttob__section {
  max-height: 100vh;
  min-height: 75vh;
  grid-area: top__section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header .";
  background: linear-gradient(var(--overlay), var(--overlay));
  background-image: url(/images/thumbnails/sermons/spencer/ttob-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ttog__section {
  max-height: 100vh;
  min-height: 75vh;
  grid-area: top__section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header .";
  background: linear-gradient(var(--overlay), var(--overlay));
  background-image: url(/images/thumbnails/sermons/spencer/ttog-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tdoj__section {
  max-height: 100vh;
  min-height: 75vh;
  grid-area: top__section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header .";
  background: linear-gradient(var(--overlay), var(--overlay));
  background-image: url(/images/thumbnails/sermons/spencer/tdoj-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.byfwts__section {
  max-height: 100vh;
  min-height: 75vh;
  grid-area: top__section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header .";
  background: linear-gradient(var(--overlay), var(--overlay));
  background-image: url(/images/thumbnails/sermons/spencer/byfwts-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fc__section {
  max-height: 100vh;
  min-height: 75vh;
  grid-area: top__section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header .";
  background: linear-gradient(var(--overlay), var(--overlay));
  background-image: url(/images/thumbnails/sermons/spencer/fc-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tsos__section {
  max-height: 100vh;
  min-height: 75vh;
  grid-area: top__section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header .";
  background: linear-gradient(var(--overlay), var(--overlay));
  background-image: url(/images/thumbnails/sermons/spencer/tsos-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.witc__section {
  max-height: 100vh;
  min-height: 75vh;
  grid-area: top__section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header .";
  background: linear-gradient(var(--overlay), var(--overlay));
  background-image: url(/images/thumbnails/sermons/spencer/witc-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wicm__section {
  max-height: 100vh;
  min-height: 75vh;
  grid-area: top__section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header .";
  background: linear-gradient(var(--overlay), var(--overlay));
  background-image: url(/images/thumbnails/sermons/spencer/wicm-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pftm__section {
  max-height: 100vh;
  min-height: 75vh;
  grid-area: top__section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header .";
  background: linear-gradient(var(--overlay), var(--overlay));
  background-image: url(/images/thumbnails/sermons/spencer/pftm-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dm__section {
  max-height: 100vh;
  min-height: 75vh;
  grid-area: top__section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header .";
  background: linear-gradient(var(--overlay), var(--overlay));
  background-image: url(/images/thumbnails/sermons/spencer/dm-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tmotmtmi__section {
  max-height: 100vh;
  min-height: 75vh;
  grid-area: top__section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header .";
  background: linear-gradient(var(--overlay), var(--overlay));
  background-image: url(/images/thumbnails/sermons/spencer/tmotmtmi-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tvol__section {
  max-height: 100vh;
  min-height: 75vh;
  grid-area: top__section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header .";
  background: linear-gradient(var(--overlay), var(--overlay));
  background-image: url(/images/thumbnails/sermons/spencer/tvol-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wdtbsate__section {
  max-height: 100vh;
  min-height: 75vh;
  grid-area: top__section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header .";
  background: linear-gradient(var(--overlay), var(--overlay));
  background-image: url(/images/thumbnails/sermons/spencer/wdtbsate-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mog__section h1 {
  color: #fff;
  padding-bottom: 0.15em;
}

.wog__section h1 {
  color: #fff;
  padding-bottom: 0.15em;
}

.overwhelmed__section h1 {
  color: #fff;
  padding-bottom: 0.15em;
}

.top__section h1 {
  color: #fff;
  padding-bottom: 0.15em;
}

.tg__section h1 {
  color: #fff;
  padding-bottom: 0.15em;
}

.yp__section h1 {
  color: #fff;
  padding-bottom: 0.15em;
}

.ibg__section h1 {
  color: #fff;
  padding-bottom: 0.15em;
}

.sitg__section h1 {
  color: #fff;
  padding-bottom: 0.15em;
}

.tbsoccm__section h1 {
  color: #fff;
  padding-bottom: 0.15em;
}

.bhgmg__section h1 {
  color: #fff;
  padding-bottom: 0.15em;
}

.witccmtlt__section h1 {
  color: #fff;
  padding-bottom: 0.15em;
}

.ittbop__section h1 {
  color: #fff;
  padding-bottom: 0.15em;
}

.p1__section h1 {
  color: #fff;
  padding-bottom: 0.15em;
}

.p2__section h1 {
  color: #fff;
  padding-bottom: 0.15em;
}

.p3__section h1 {
  color: #fff;
  padding-bottom: 0.15em;
}

.p4__section h1 {
  color: #fff;
  padding-bottom: 0.15em;
}

.ttob__section h1 {
  color: #fff;
  padding-bottom: 0.15em;
}

.ttog__section h1 {
  color: #fff;
  padding-bottom: 0.15em;
}

.tdoj__section h1 {
  color: #fff;
  padding-bottom: 0.15em;
}

.byfwts__section h1 {
  color: #fff;
  padding-bottom: 0.15em;
}

.fc__section h1 {
  color: #fff;
  padding-bottom: 0.15em;
}

.tsos__section h1 {
  color: #fff;
  padding-bottom: 0.15em;
}

.witc__section h1 {
  color: #fff;
  padding-bottom: 0.15em;
}

.wicm__section h1 {
  color: #fff;
  padding-bottom: 0.15em;
}

.pftm__section h1 {
  color: #fff;
  padding-bottom: 0.15em;
}

.dm__section h1 {
  color: #fff;
  padding-bottom: 0.15em;
}

.tmotmtmi__section h1 {
  color: #fff;
  padding-bottom: 0.15em;
}

.tvol__section h1 {
  color: #fff;
  padding-bottom: 0.15em;
}

.wdtbsate__section h1 {
  color: #fff;
  padding-bottom: 0.15em;
}

.mog__section h2 {
  font-family: "Play", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.wog__section h2 {
  font-family: "Play", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.overwhelmed__section h2 {
  font-family: "Play", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.top__section h2 {
  font-family: "Play", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.tg__section h2 {
  font-family: "Play", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.yp__section h2 {
  font-family: "Play", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.ibg__section h2 {
  font-family: "Play", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.sitg__section h2 {
  font-family: "Play", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.tbsoccm__section h2 {
  font-family: "Play", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.bhgmg__section h2 {
  font-family: "Play", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.witccmtlt__section h2 {
  font-family: "Play", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.ittbop__section h2 {
  font-family: "Play", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.p1__section h2 {
  font-family: "Play", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.p2__section h2 {
  font-family: "Play", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.p3__section h2 {
  font-family: "Play", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.p4__section h2 {
  font-family: "Play", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.ttob__section h2 {
  font-family: "Play", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.ttog__section h2 {
  font-family: "Play", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.tdoj__section h2 {
  font-family: "Play", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.byfwts__section h2 {
  font-family: "Play", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.fc__section h2 {
  font-family: "Play", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.tsos__section h2 {
  font-family: "Play", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.witc__section h2 {
  font-family: "Play", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.wicm__section h2 {
  font-family: "Play", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.pftm__section h2 {
  font-family: "Play", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.dm__section h2 {
  font-family: "Play", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.tmotmtmi__section h2 {
  font-family: "Play", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.tvol__section h2 {
  font-family: "Play", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.wdtbsate__section h2 {
  font-family: "Play", sans-serif;
  margin: 0;
  padding-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

/* Video Player Start */
/*----------- Big Play Button -----------*/

#my-video .vjs-big-play-button {
  border: none;
  width: 2em;
  height: 2em;
  line-height: 2em;
  top: 48%;
  margin-left: -0.5em;
  color: #ccc;
  background: #262626;
  font-size: 2.8em;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
}

#my-video:hover .vjs-big-play-button {
  background: #333;
}

#my-video .vjs-big-play-button:hover {
  background: #1a1a1a;
  color: #b3b3b3;
}

/*----------------------------------------*/

/*-------------- Control Bar -------------*/

#my-video .vjs-control-bar {
  background: #262626;
  color: #ccc;
  width: 64%;
  left: 18%;
  bottom: 4%;
  font-size: 1.3em;
}

#my-video .vjs-play-progress,
#my-video .vjs-volume-level {
  background: #ccc;
}

/*----------- Play/Pause Toggle ----------*/

#my-video .vjs-play-control {
  right: 102%;
  background: #262626;
  border-radius: 10%;
  position: absolute;
}

/*----------- Fullscreen Toggle ----------*/

#my-video .vjs-fullscreen-control {
  left: 102%;
  background: #262626;
  position: absolute;
  border-radius: 10%;
}

/*---------- Add/Remove Button ----------*/

#my-video .vjs-picture-in-picture-control {
  display: none;
}

#my-video .vjs-current-time {
  display: block;
}

/*----------- Volume Vertical ------------*/

#my-video .vjs-volume-vertical {
  background: #262626;
  font-size: 1.1em;
}
/* Video Player End */

/* Audio Player Start */
.music-player {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: rgba(51, 56, 59, 0.9);
  box-shadow: 0 40px 100px rgba(51, 56, 59, 1);
  padding: 30px;
  overflow: hidden;
  color: #faf8f7;
}

.music-player h1 {
  font-family: "Montserrat", sans-serif;
}

.music-name,
.artist-name {
  text-align: center;
  text-transform: capitalize;
}

.music-name {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}

.artist-name {
  font-size: 20px;
}

.disk {
  position: relative;
  display: block;
  margin: 40px auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url();
  background-size: cover;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.08);
}

.song-slider {
  width: 100%;
  position: relative;
}

.seek-bar {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: #a8a8a8;
  overflow: hidden;
  cursor: pointer;
}

.seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1px;
  height: 20px;
  box-shadow: -400px 0 0 400px #faf8f7;
}

.current-time,
.song-duration {
  font-size: 14px;
}

.song-duration {
  position: absolute;
  right: 0;
}

.controls {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 20px;
}

.play-btn {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #faf8f7;
  cursor: pointer;
  border: none;
}

.play-btn span {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
  width: 10px;
  height: 30px;
  border-radius: 2px;
  background: #4d4d4d;
  transition: 0.5s;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.play-btn span:nth-child(2) {
  left: 55%;
  transform-origin: center;
}

.play-btn.pause span:nth-child(2) {
  transform: translateY(-50%) scaleY(0);
}

.play-btn.pause span:nth-child(1) {
  width: 35%;
  left: 53%;
  transform: translate(-50%, -50%);
  border-radius: 0;
  clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}

.play-btn.pause {
  animation: pulse 2s linear infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0;
  }
  50% {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
  }
}

.btn {
  width: 40px;
  height: 40px;
  background: #faf8f7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
/* Audio Player End */

.section-2-mog {
  width: 100%;
  height: 100%;
  background-color: #faf8f7;
  display: flex;
  justify-content: space-between;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  /*background: #5f7a61;*/
  font-family: "roboto", sans-serif;
}

.section-2-wog {
  width: 100%;
  height: 100%;
  /*background-color: #faf8f7;*/
  display: flex;
  justify-content: space-between;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  /*background: #5f7a61;*/
  background: #faf8f7;
  font-family: "roboto", sans-serif;
}

.section-3-main {
  width: 100%;
  height: 100vh;
  background-color: #faf8f7;
}

.section-3-sub {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-between;
}

.section-4 {
  width: 100%;
  background-color: #faf8f7;
}

/* Section 5 - Footer */
footer {
  position: sticky;
  bottom: 0;
}
.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Montserrat", sans-serif;
  margin: 0;
}

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
}

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
  .main {
    line-height: normal;
    font-size: auto;
  }
}

.col-left {
  height: 720px;
  width: 10%;
  background-color: transparent;
}

.video-holder {
  width: 65%;
  height: 720px;
  background-color: transparent;
}

.audio-holder {
  width: 65%;
  height: 720px;
  background-color: transparent;
}

.col-right {
  height: 720px;
  width: 10%;
  background-color: transparent;
}

.row-1 {
  width: 100%;
  height: 70px;
}

.row-about {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  text-align: center;
}

.col-bio-main {
  width: 80%;
  height: 90vh;
  display: flex;
  justify-content: space-between;
}

.col-bio-1 {
  width: 50%;
  height: 90vh;
}

.col-bio-image {
  width: 100%;
  height: 45vh;
  position: relative;
}

.col-bio-socials {
  width: 100%;
  height: 45vh;
}

.col-bio-2 {
  width: 50%;
  height: 90vh;
  overflow: auto;
}

.col-bio-2 p {
  font-family: "Encode Sans", sans-serif;
  color: black;
  font-size: 25px;
  padding: 10px;
}

.col-description {
  width: 100%;
  height: 45vh; 
  position: relative;
  text-align: center;
  padding-top: 30px;
}

.col-description > p {
  color: black;
  font-size: 18px;
  font-family: "Encode Sans", sans-serif;
  line-height: 150%;
}

.link {
  /* RESET */
  text-decoration: none;
  line-height: 1;

  position: relative;
  z-index: 0;
  display: inline-block;
  padding: 5px 5px;
  overflow: hidden;
  color: #333;
  vertical-align: bottom;
  transition: color 0.3s ease-out;
}

.link::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translateY(calc(100% - 2px));
  width: 100%;
  height: 100%;
  background-image: linear-gradient(60deg, #33383b 0%, #33383b 100%);
  transition: transform 0.25s ease-out;
}

.link:hover {
  color: #fff;
}
.link:hover::before {
  transform: translateY(0);
  transition: transform 0.25s ease-out;
}

.col-share {
  width: 20%;
  height: 90vh;
}

.col-share h2 {
  font-family: "Play", sans-serif;
  font-size: 40px;
  text-align: center;
  padding-bottom: 10px;
}

.link-button {
  display: inline-block;
  width: 50px;
  height: 42px;
  background-color: #33383b;
  border-radius: 5px;

  font-size: 25px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  padding: 4px;

  transition: all 0.3s ease;
}

.link-button:hover {
  display: inline-block;
  width: 50px;
  height: 42px;
  background-color: #33383b;
  border-radius: 5px;

  font-size: 25px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  padding: 4px;

  transition: all 0.3s ease;
  box-shadow: 5px 5px 5px #000;
  transform: translateY(-5px);
}

@media (max-width: 1540px) {
  .section-2 {
    height: 85vh;
  }
}

@media (max-width: 1242px) {
  .section-2 {
    height: 70vh;
  }
}

@media (max-width: 850px) {
  .section-2 {
    height: 50vh;
  }
}

/* Bio */
#spencer-bio {
  border-radius: 25px;
  width: 360px;
  height: 360px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Socials */
.spencer-socials-icons {
  font: bold 56px sans-serif;
  text-align: center;
  width: auto;
}

.spencer-socials-icons a {
  display: inline-block;
  width: 50px;
  height: 42px;
  background-color: #33383b;
  border-radius: 5px;

  font-size: 25px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  padding: 4px;

  transition: all 0.3s ease;
}

.spencer-socials-icons a:hover {
  display: inline-block;
  width: 50px;
  height: 42px;
  background-color: #33383b;
  border-radius: 5px;

  font-size: 25px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  padding: 4px;

  transition: all 0.3s ease;
  box-shadow: 5px 5px 5px #000;
  transform: translateY(-5px);
}

/* Share */
.share-content {
  /*width: 50px;
  height: 50px;
  margin: 0 auto;
  position: relative;*/
  background-color: transparent;
}
.share-content {
  /*display: block;
  list-style: none;
  width: 60px;
  height: 60px;
  border-radius: 25px;
  /*border: 1px solid #f0f0f0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 8px 12px 12px 10px;
  background: #fff;
  text-align: center;*/
  /*position: absolute;
  left: 0;
  top: 0;
  opacity: 0;*/
  /*font-size: 45px;
  text-align: center;*/
  font: bold 56px sans-serif;
  text-align: center;
  width: auto;
}
.share-content a {
  /*color: #d39f72;*/
  /*display: inline-block;
  width: 55px;
  height: 42px;
  background-color: rgb(51, 56, 59);
  border-radius: 5px;
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 35px;
  padding: 4px;
  transition: all 0.3s ease 0s;*/
  display: inline-block;
  width: 50px;
  height: 42px;
  background-color: #33383b;
  border-radius: 5px;

  font-size: 25px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  padding: 4px;

  transition: all 0.3s ease;
}

.share-content a:hover {
  display: inline-block;
  width: 50px;
  height: 42px;
  background-color: #33383b;
  border-radius: 5px;

  font-size: 25px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  padding: 4px;

  transition: all 0.3s ease;
  box-shadow: 5px 5px 5px #000;
  transform: translateY(-5px);
}

/*.share-content .share li.share-ico {
  z-index: 9;
  opacity: 1;
  background: #d39f72;
}
.share-content .share li.share-ico a {
  color: #fff;
}
.share-content .share li:hover {
  background: #d39f72;
}
.share-content .share li:hover a {
  color: #fff;
}
.share-content .share.expand li:nth-child(2) {
  top: 75px;
  opacity: 1;
}
.share-content .share.expand li:nth-child(3) {
  top: 155px;
  opacity: 1;
}
.share-content .share.expand li:nth-child(4) {
  top: 235px;
  opacity: 1;
}
.share-content .share.expand li:nth-child(5) {
  top: 315px;
  opacity: 1;
}*/
/* Share End */
