/* Latest Sermons CSS File */
/* Sermons Gallery */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

:root {
  --accent: #3db45e;
  --dark: #17191d;
  --light: #f4f4f4;
  --overlay: rgba(25, 25, 29, 0.8);
  --ease: all 0.3s ease 0s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #17191d;
}

p,
button,
h4 {
  color: var(--light);
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h4,
button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

h1 {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}

p,
h4 {
  font-size: 18px;
}

button {
  cursor: pointer;
  transition: var(--ease);
}

button:hover {
  transform: scale(1.02);
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "top__section"
    "content__section";
}

.top__section {
  min-height: 370px;
  grid-area: top__section;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: ". header .";
  background: linear-gradient(var(--overlay), var(--overlay));
  background-image: url(/images/preaching-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
}

header p {
  font-family: "Play", "Times New Roman", Times, serif;
  max-width: 570px;
  margin-bottom: 30px;
}

/*header a {
  color: blanchedalmond;
  text-decoration: none;
}*/

header button {
  width: 131px;
  padding: 12px 0;
  background-color: var(--accent);
  border: none;
}

.content__section {
  background-color: #17191d;
  grid-area: content__section;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas:
    ". playlist__one ."
    ". playlist__two ."
    ". playlist__three .";
}

.playlist__one {
  grid-area: playlist__one;
}

.playlist__two {
  grid-area: playlist__two;
}

.playlist__three {
  grid-area: playlist__three;
}

.playlist__title {
  margin: 20px 0;
  font-family: "Montserrat", "Times New Roman", Times, serif;
  font-size: 2.5em;
  color: white;
}

.playlist__subtitle {
  margin: 10px 0;
  font-family: "Archivo Black", sans-serif;
  font-size: 2em;
}

.videos {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.video {
  height: 180px;
  grid-column-start: span 3;
  position: relative;
  transition: var(--ease);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.video:hover {
  transform: scale(1.02);
}

.video i {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--light);
  opacity: 0.85;
  font-size: 60px;
  transition: var(--ease);
}

.video i:hover {
  opacity: 1;
}

@media only screen and (max-width: 1200px) {
  .video {
    grid-column-start: span 6;
    height: 240px;
  }
}

@media only screen and (max-width: 800px) {
  .video {
    grid-column-start: span 12;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 19rem;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  /*padding: 5px 0;*/
  position: absolute;
  z-index: 1;
  /*bottom: 125%;*/
  /*left: 50%;*/
  /*margin-left: -60px;*/
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Sermons */
/* The Maniac of Gadera */
.mog-title {
  font-family: "Montserrat", "Times New Roman", Times, serif;
  font-size: 48px;
  color: rgba(25, 25, 29, 0.8);
  text-align: center;
}

.mog-author {
  font-family: "Play", sans-serif;
  font-size: 30px;
  color: grey;
  text-align: center;
}

.mog-player {
  margin: 0 auto;
}
